/**
These styles are not currently being used. Keeping here for future reference.
**/

/* @font-face {
  font-family: 'Druk';
  src: url('fonts/DrukText-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Druk Wide';
  src: url('fonts/DrukWide-Medium.otf') format('opentype');
} */
